
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  
  body {
    background-color: #042337;
  }


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 10px auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .navbar-logo a {
    font-size: 1.6rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 500;
  }
  
  .navbar-links li a:hover {
    color: #0a7f9b;
  }
  
  .navbar-auth {
    display: flex;
    gap: 10px;
  }
  
  .btn-auth {
    background-color: rgb(7, 86, 117);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
  }
  
  .btn-auth:hover {
    background-color: #08788c;
  }

main {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    margin: 100px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .form-login {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-field label {
    font-weight: 600;
  }
  
  .form-field input {
    padding: 15px;
    border: 1px solid #DDD;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
  }
  
  button[type="submit"] {
    background-color: #0a202f;
    color: #FFF;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #08788c;
  }
  